{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block title %}About - LRG Network{% endblock %}

{% block extra_css %}
{% compress css %}
<link rel="stylesheet" href="{% static 'resources/styles.css' %}">
{% endcompress %}
{% endblock %}

{% block content %}
<div class="container-xl py-3">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="mb-4">Welcome to LRG Network!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-10 mx-auto">
      <div class="resource-content">
        <div class="mb-4">
          <p class="lead">This is a website built by the Live Reality Games community for the Live Reality Games community to connect players and games together. To get started, use the search bar at the top right of the page to search for games. You can filter and sort games based on game style, length, whether a game is currently casting, etc.</p>
          <p>If you are a game producer and would like to see your game here, please complete <a href="https://forms.gle/g43kFpuxuHT7dgEU8" target="_blank" rel="noopener noreferrer">this form</a>.</p>
        </div>

        <div class="mb-4">
          <h3 class="h5 mb-2">What are Live Reality Games?</h3>
          <p>Live Reality Games (LRGs) are events where people come together to challenge themselves socially, physically, and strategically, have fun, and try to be the last player standing in a competition. Most LRGs are inspired by popular reality television shows, such as Survivor, Big Brother, or The Traitors, but often have their own unique twists or challenges. Overall, these are fan-created games made by fans for fans to have adventure, build a community, and win bragging rights.</p>
          <p>Much like the TV shows they draw inspiration from, LRGs range greatly in production, length, and style. For example, games last anywhere from one day long to a full week, in someone's backyard or a campground, and can have a cast of friends and family or have a formal casting process to bring in strangers from all over the world. Some games incorporate a charity element, with players fundraising and competing for money to be donated to chosen non-profits. Finally, some games even live-stream their games to various social media platforms for friends and family to watch or even upload edited episodes on YouTube.</p>
        </div>

        <div class="mb-4">
          <h3 class="h5 mb-2">Why Play a Live Reality Game?</h3>
          <p>LRGs offer a thrilling, one-of-a-kind experience that can provide opportunities for you to challenge yourself, find community, and experience personal growth.  Whether you are a fan of reality TV or simply seeking a unique adventure, here are a few reasons you should consider applying for an LRG:</p>

          <h3 class="h5 mb-2">Excitement and Challenge</h3>
          <p>LRGs are designed to push you to your limits. In these games, you may find yourself competing in physical endurance challenges for yourself or for a team. You may need to form alliances, calculate moves, and take risks to outwit competitors. You will navigate complex and fluid social dynamics, and have to make difficult decisions under pressure. These are a chance to test your own abilities and discover strength you never knew you had!</p>

          <h3 class="h5 mb-2">Build a New Community</h3>
          <p>LRGs bring together diverse people from all walks of life, giving you the opportunity to meet and work with new friends while forging deep connections. Whether you're collaborating with allies or engaging in intense rivalries, you'll have the chance to interact with others in ways that go beyond everyday life, creating unforgettable memories. As a result, these games build communities and friendships that extend beyond the game itself. You'll be part of a dynamic group that shares similar passions, tied together through a strong and unique shared experience.</p>

          <h3 class="h5 mb-2">Personal Growth and Development</h3>
          <p>The immersive nature of LRGs allows for profound personal development. You'll build problem-solving skills, learn how to manage stress, improve communication, and refine your decision-making abilities. Overcoming obstacles and navigating challenges will leave you with a sense of accomplishment and newfound confidence. Furthermore, playing these games will give you a unique experience unlike any other. Whether you come out of the game victorious or not, the story of your journey—your strategy, your challenges, your victories, and even your losses—will be something you'll cherish and share for years to come.</p>

          <p>Playing an LRG is an opportunity to step into an immersive world of strategy, social dynamics, and unforgettable experiences. It's your chance to challenge yourself, meet new people, and create lasting memories. Ready to play?</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
