{% extends "base.html" %}

{% block content %}
<div class="container py-5">
  <h1 class="mb-4">Contact Us</h1>
  <p class="lead">Join the community, follow our games, and contribute to the conversation across these platforms:</p>

  <div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
    <div class="col">
        <a href="https://www.facebook.com/share/g/1AS8iM1B1x" class="text-decoration-none text-body">
          <div class="card bg-body-tertiary border h-100 btn-hover-scale transition">
            <div class="card-body">
                <h5 class="card-title">Live Reality Games Facebook Group</h5>
                <p class="card-text">This group is for all Live Reality Games! LRG hosts, players, and at-home audiences can WATCH, ADVERTISE, or even AUDITION for a game.</p>
            </div>
          </div>
        </a>
    </div>

    <div class="col">
        <a href="https://www.facebook.com/share/g/1GxLiJGTwK/" class="text-decoration-none text-body">
            <div class="card bg-body-tertiary border h-100 btn-hover-scale transition">
            <div class="card-body">
                <h5 class="card-title">LRG Casting Facebook Group</h5>
                <p class="card-text">Facebook Group focused on posting games that are casting.</p>
            </div>
            </div>
        </a>
    </div>

    <div class="col">
        <a href="https://www.facebook.com/share/g/15ZQwLoWBk/" class="text-decoration-none text-body">
            <div class="card bg-body-tertiary border h-100 btn-hover-scale transition">
            <div class="card-body">
                <h5 class="card-title">LRG Awards Facebook Group</h5>
            </div>
            </div>
        </a>
    </div>

    <div class="col">
        <a href="https://www.youtube.com/c/liverealitygames" class="text-decoration-none text-body">
            <div class="card bg-body-tertiary border h-100 btn-hover-scale transition">
            <div class="card-body">
                <h5 class="card-title">Live Reality Games Podcast</h5>
                <p class="card-text">Podcasts/youtube interviews with LRG players. Also available on Spotify and other places you listen to podcasts.</p>
            </div>
            </div>
        </a>
    </div>


    <div class="col">
        <a href="https://live-reality-games.fandom.com/wiki/Live_Reality_Games_Wiki" class="text-decoration-none text-body">
            <div class="card bg-body-tertiary border h-100 btn-hover-scale transition">
            <div class="card-body">
                <h5 class="card-title">Live Reality Games Wiki</h5>
            </div>
            </div>
        </a>
    </div>

    <div class="col">
        <a href="https://www.instagram.com/lrg_casting/" class="text-decoration-none text-body">
            <div class="card bg-body-tertiary border h-100 btn-hover-scale transition">
            <div class="card-body">
                <h5 class="card-title">LRG Casting Instagram</h5>
                <p class="card-text">Instagram account to help players find games and games to find players. Look at the “Apply Now” highlight on the profile page to see what's casting now.</p>
            </div>
            </div>
        </a>
    </div>

  </div>
</div>
{% endblock %}
