{% extends "base.html" %}
{% load static %}

{% block title %}Resources - LRG Network{% endblock %}

{% block content %}
<div class="container-xl py-3 resources-index-page">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="mb-4">Resources for Hosting an LRG</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">
      <p class="lead mb-4">There are TONS of things to consider when planning to start your first LRG, but we are hoping this will help you consider all of the major aspects for your first one.</p>
    </div>
  </div>

  <!-- Resources Cards -->
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
    <div class="col">
      <a href="{% url 'resources_guided_questions' %}" class="text-decoration-none text-body">
        <div class="card bg-body-tertiary border h-100 btn-hover-scale transition">
          <div class="card-body">
            <h5 class="card-title">Guided Questions & Quick Thoughts</h5>
            <p class="card-text">Key questions to consider when planning your first LRG</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="{% url 'resources_building_team' %}" class="text-decoration-none text-body">
        <div class="card bg-body-tertiary border h-100 btn-hover-scale transition">
          <div class="card-body">
            <h5 class="card-title">Building Your Team</h5>
            <p class="card-text">How to assemble and manage your production team</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="{% url 'resources_budgets' %}" class="text-decoration-none text-body">
        <div class="card bg-body-tertiary border h-100 btn-hover-scale transition">
          <div class="card-body">
            <h5 class="card-title">Budget</h5>
            <p class="card-text">Understanding revenue sources and expense categories for your LRG</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="{% url 'resources_casting' %}" class="text-decoration-none text-body">
        <div class="card bg-body-tertiary border h-100 btn-hover-scale transition">
          <div class="card-body">
            <h5 class="card-title">Casting</h5>
            <p class="card-text">Guidelines for building a diverse and dynamic cast for your LRG</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="{% url 'resources_rules_expectations' %}" class="text-decoration-none text-body">
        <div class="card bg-body-tertiary border h-100 btn-hover-scale transition">
          <div class="card-body">
            <h5 class="card-title">Establishing Rules & Expectations</h5>
            <p class="card-text">Setting clear guidelines for production teams and players</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="{% url 'resources_challenge_ideas' %}" class="text-decoration-none text-body">
        <div class="card bg-body-tertiary border h-100 btn-hover-scale transition">
          <div class="card-body">
            <h5 class="card-title">Challenge Ideas</h5>
            <p class="card-text">Cost-effective items and sample challenges for your first LRG</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="{% url 'resources_art_department' %}" class="text-decoration-none text-body">
        <div class="card bg-body-tertiary border h-100 btn-hover-scale transition">
          <div class="card-body">
            <h5 class="card-title">Art Department</h5>
            <p class="card-text">Theme, props, sets, and art that bring your game's look and feel to life</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="{% url 'resources_social_media' %}" class="text-decoration-none text-body">
        <div class="card bg-body-tertiary border h-100 btn-hover-scale transition">
          <div class="card-body">
            <h5 class="card-title">Social Media</h5>
            <p class="card-text">Instagram, Facebook, and TikTok tips to share your game and build community</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="{% url 'resources_player_care' %}" class="text-decoration-none text-body">
        <div class="card bg-body-tertiary border h-100 btn-hover-scale transition">
          <div class="card-body">
            <h5 class="card-title">Player Care</h5>
            <p class="card-text">Guidelines for supporting player mental health and well-being during and after your game</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="{% url 'resources_editing' %}" class="text-decoration-none text-body">
        <div class="card bg-body-tertiary border h-100 btn-hover-scale transition">
          <div class="card-body">
            <h5 class="card-title">Editing</h5>
            <p class="card-text">Tips for organizing footage, choosing software, and crafting compelling video narratives</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
