{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block title %}Casting - Resources - LRG Network{% endblock %}

{% block extra_css %}
{% compress css %}
<link rel="stylesheet" href="{% static 'resources/styles.css' %}">
{% endcompress %}
{% endblock %}

{% block content %}
<div class="container-xl py-3">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="mb-4">Casting</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-10 mx-auto">
      <div class="resource-content">
        <div class="mb-4">
          <p class="lead">Your cast is a formula, as simple or complex as it may be. It can be a statement and/or an act of love. When starting an LRG and looking to cast your first group of players, here are some things to consider based on what type of LRG you want to make:</p>
        </div>

        <!-- Image 1 -->
        <div class="resource-image-wrapper float-lg-end mb-4 mb-lg-3">
          <img src="{% static 'resources/images/survivor_georgia_tech.jpg' %}" alt="Diverse group of LRG players with rainbow border and gender symbols" class="img-fluid resource-image">
          <p class="resource-image-caption">Photo: Survivor Georgia Tech</p>
        </div>

        <div class="mb-4">
          <p><strong>Who is your audience?</strong> Even if the audience is just your players, consider what type of experience you want them to talk about to their friends.</p>
          <p><strong>Who are you comfortable having in your cast?</strong> Decide whether you are more comfortable casting friends and family, or if you are comfortable casting strangers who can apply for your game.</p>
          <p><strong>What demographics do you want your cast to represent?</strong> Your game can be an opportunity to host people from many different walks of life. If you are looking for certain demographics, make it clear and get your message out there so those players know there is a spot for them.</p>
          <p><strong>What will your application process be like?</strong></p>
          <ul>
            <li>Your application can be a simple a Google Form asking them why they want to play and who they are. You may also want to know their demographic information, location, past game experience, and other relevant information to your theme or game format.</li>
            <li>You may want to ask players if there is anyone they are uncomfortable playing with. This helps to ensure you don't cast players who do not want to play with one another due to negative past experiences.</li>
            <li>Many games ask people to submit a short (3-minutes or less) video application (or link to a private youtube video they've made for the application).</li>
            <li>Some games follow up with a brief online interview. This is an opportunity for the game creators to answer questions the applicant may have, and vice versa. Some games interview all applicants, some only interview players they are interested in or are unsure about.</li>
          </ul>
          <p><strong>Who is reviewing the applications?</strong> You might be the only person reviewing the applications, or you may have a dedicated production team assigned to it. Feel free to ask others around you for input on the submissions. Working on an LRG can occasionally allow tunnel vision to creep in, so go ahead and ask for a fresh pair of eyes to take a look at your casting to see if they notice something that goes against what you might be looking for.</p>
          <p>If you have applicants who have played other games before, feel free to reach out to their previous hosts for a quick reference.</p>
        </div>

        <div class="mb-4">
          <h3 class="h5 mb-2">Getting the Word Out</h3>
          <p>Specific tips for where and how to get the word out about your game:</p>
          <ul>
            <li>Word of mouth is the best way to recruit - ask your friends to apply, and ask them to share your application link on their social media. Directly message them!</li>
            <li>Create a social media presence specifically for your game so people have an easy way to reach out with questions.</li>
            <li>Especially when you are starting out, you will want to recruit locally! Don't forget the old-school paper flyers! Think about what type of person would want to play your specific game and where they are likely to see a paper flyer. Post at gyms, outdoorsy hangouts (like the local running/outdoors equipment stores), game shops, and community centers with bulletin boards (libraries, co-ops).</li>
            <li>Post in local facebook groups, reddit, and other internet hubs. We've had luck with posting in Meet-up groups, hiking groups, and social groups - especially if you are seeking more women, have women on your production team post in local women's facebook groups about it.</li>
            <li>Some games pay a small amount of money to purchase facebook/instagram ads that will target specifically for whatever demographics you are recruiting for.</li>
            <li>Use the existing LRG networks to recruit, but don't rely solely on that! The @lrg_casting instagram and the LRG Casting facebook groups are very useful tools, but your recruiting should not end there. Each game needs to actively work to bring in new players!</li>
            <li>Network with other games in your region and offer to cross-promote. You can post about their game, they can post about yours. Ask for their suggestions and build a relationship with them! We are building a community!</li>
          </ul>
          <p><strong>NOTE:</strong> It is likely you will have to work extra hard to recruit women, people of color, and older players (this is especially true if you and your production team are mostly young, white men). PUT IN THE WORK to outreach, directly invite people to apply, and collaborate in any way you can to help create a diverse cast full of dynamic people with different life experiences. This will strengthen your game and is worth the extra effort. You should also put in thought and energy to diversify your production team!</p>
        </div>

        <!-- Image 2 -->
        <div class="resource-image-wrapper float-lg-start mb-4 mb-lg-3">
          <img src="{% static 'resources/images/columbus_survivor.jpg' %}" alt="Four diverse LRG players with yellow bandanas holding game props" class="img-fluid resource-image">
          <p class="resource-image-caption">Photo: Columbus Survivor</p>
        </div>

        <div class="mb-4">
          <p><strong>Important:</strong> Please respond to ALL applicants when your cast is set. In your rejection messages, be kind, thank them for applying, encourage them to apply again next season and to look for other games (possibly even giving them specifics about other games casting, or directing them to this website, the casting instagram/facebook pages, etc).</p>
          <p>You may want to offer a select group of people the option of being an alternate because alternates are OFTEN needed for games. Ask them to reply to confirm if they are interested in being an alternate - and some games have a day-of alternate who will come to the game and work on production if a spot doesn't open up.</p>
        </div>

        <div class="mb-4">
          <h3 class="h5 mb-2">Sample Casting Team Guide</h3>
          <p><strong>Sample LRG Casting Mission Statement</strong> (Use as a guide and edit, accordingly):</p>
          <p class="lead">"Our game aims to be a welcoming and accepting environment dedicated to building the most diverse cast possible. This means we are looking for different ages, races, ethnicities, people of all genders, sexual orientation, religions, abilities, life experiences, body types, parts of the country/world, and as part of that we want to make sure economic status does not affect people's ability to apply and play."</p>
        </div>

        <div class="mb-4">
          <h3 class="h5 mb-2">Ethnic Diversity</h3>
          <p>In the LRG community as a whole, it is evident that there are a lot less POC applying to games. This can be partially due to the lack of diversity seen on screen and on cast in other games. If more games prioritize this, we will get more applicants in this area as well as new members to the LRG community if they see people like themselves being cast on these games.</p>
        </div>

        <div class="mb-4">
          <h3 class="h5 mb-2">Gender Diversity</h3>
          <p>As a casting team, ensure a balanced cast with Male / Female / Non-Binary players. Games often get many more male applicants, so you may need to do additional outreach targeted to achieve gender balance.</p>
        </div>

        <!-- Image 3 -->
        <div class="resource-image-wrapper float-lg-end mb-4 mb-lg-3">
          <img src="{% static 'resources/images/survivor_philadelphia.jpg' %}" alt="Six diverse LRG players of varying ages and backgrounds with purple neck gaiters" class="img-fluid resource-image">
          <p class="resource-image-caption">Photo: Survivor Philadelphia</p>
        </div>

        <div class="mb-4">
          <h3 class="h5 mb-2">Newbies vs Vets</h3>
          <p>To minimize pre-existing relationships, consider prioritizing newer LRG players. Players that are playing their first LRG over Veterans. Some may never have the opportunity to play a game like this again, so it's important to create a game for them that is incredibly authentic. Limiting pre-existing relationships will create a more authentic game where those pre-existing relationships don't come into play or become a part of the game.</p>
        </div>

        <div class="mb-4">
          <h3 class="h5 mb-2">Body / Age / Location / Job Diversity</h3>
          <p>The casting team should consider people that have all different body types. But also consider having body types that could have counter weights. If we are casting an incredibly tall and athletic male for example, we have a counter balance by casting another athletic tall male that has the ability to potentially match up with them. This goes for Age too. Survivor does an excellent job of casting in different groups, younger, middle age, older. This should be a consideration when we are casting. This goes for where we are casting folks from as well as what kind of job they have. Being able to cast folks that have blue collar jobs as well as white collar jobs is incredibly important.</p>
        </div>

        <div class="mb-4">
          <h3 class="h5 mb-2">Abilities / Disabilities / Health Considerations</h3>
          <p>It is also important to represent those with different types of abilities / disabilities. People are so much more capable than we can ever recognize and heart can take someone so far. For certain of our casting applicants, because of some of their abilities / disabilities / health they would never be eligible to apply for the real show, so making sure, number 1 we are taking consideration for all of our contestants health and making sure to only cast players that we feel can handle the experience are cast, but also making sure to represent as best as we can many different stories.</p>
        </div>

        <div class="mb-4">
          <h3 class="h5 mb-2">Sexual Orientation Diversity</h3>
          <p>As we see from our applications and something that is prevalent within the LRG community, we get an overwhelming skewed pool of LGBTQ+ applicants. Representation matters so much and it's so great to see a group that has been historically marginalized come in such strong force within the LRG world. With that being said. As a casting team, we should always try to have some sort of balance between LGBTQ+ and non LGBTQ+ players. This allows for living with and sharing different perspectives across the board.</p>
        </div>

        <!-- Image 4 -->
        <div class="resource-image-wrapper float-lg-start mb-4 mb-lg-3">
          <img src="{% static 'resources/images/may-zing_games.jpg' %}" alt="Three blindfolded women participating in a sensory challenge game" class="img-fluid resource-image">
          <p class="resource-image-caption">Photo: May-Zing Games</p>
        </div>

        <div class="mb-4">
          <h3 class="h5 mb-2">Long Time Applicants</h3>
          <p>There should be a place to reward long time applicants, previous year alternates, and past volunteers with a slot on the cast. Of course we want to make the best cast possible, but we should also be considering that many of these folks will never play Survivor or get an experience like this in their whole life. There should be some thought given to applicants that have been applying for many years or who show true passion.</p>
        </div>

        <div class="mb-4">
          <h3 class="h5 mb-2">Baseline Mandates</h3>
          <p><em>(Sample - adjust according to your community and the type of game)</em></p>
          <ul>
            <li><strong>POC</strong> - At least 40% of the total cast should be people of color. Ideally 40% of the Female-Identifying players should be and 40% of the Male-Identifying Players (non-binary included in both measures).</li>
            <li><strong>LGBTQ+</strong> - Aiming for 50% LGBTQ+ vs Non-LGBTQ+</li>
            <li><strong>Newbies vs Vets</strong> - At least 50% of the cast should be new LRGers or fairly new LRGers (1 or 2 games).</li>
            <li><strong>Age Diversity</strong>:
              <ul>
                <li>18 - 23 (Very Young) - 20%</li>
                <li>24 - 30 (Young) - 20%</li>
                <li>30 - 40 (Middle) - 20%</li>
                <li>40 - 50 (Mature) - 20%</li>
                <li>50+ (Older) - 20%</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Back to Resources -->
  <div class="row">
    <div class="col-12 col-lg-10 mx-auto">
      <div class="text-center">
        <a href="{% url 'resources' %}" class="btn btn-primary resource-back-btn">Back to Resources</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
