{% extends "base.html" %}
{% load static %}
{% load safe_static %}

{% block title %}{{ game.name }} - LRG Network{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'game_list' %}" class="text-decoration-none">Games</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ game.name }}</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="text-center mb-2">
        <h1 class="display-3 fw-bold">{{ game.name }}</h1>
        <div class="game-details-tags mb-2 text-center">
            {% if game.for_charity %}
                <span class="badge rounded-pill bg-success me-2">For Charity</span>
            {% endif %}
            {% if game.friends_and_family %}
                <span class="badge rounded-pill bg-warning text-dark me-2">Friends & Family Only</span>
            {% endif %}
            {% if game.college_game %}
                <span class="badge rounded-pill bg-warning text-dark me-2">College Only</span>
            {% endif %}
            {% if not game.active %}
                <span class="badge rounded-pill bg-danger">Inactive</span>
            {% endif %}
        </div>
    </div>

    <div class="my-4">
        <div class="row g-0 flex-column flex-md-row">
            <div class="col-12 col-md d-flex justify-content-center align-items-center mb-3 mb-md-0 order-1 order-md-2">
                {% if game.logo %}
                    <img src="{{ game.logo.url }}" class="img-fluid" alt="{{ game.name }} logo" style="max-height: 250px; min-height: 120px; object-fit: contain;">
                {% else %}
                    {% with 'games/images/default_logos/'|add:game.game_format|lower|add:'.png' as logo_path %}
                        {% with logo_path|safe_static as logo_url %}
                            {% if logo_url %}
                                <img src="{{ logo_url }}"
                                    class="img-fluid p-3"
                                    alt="{{ game.get_game_format_display }} logo"
                                    style="max-height: 250px; min-height: 120px; object-fit: contain;">
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
                {% endif %}
            </div>
            <div class="col-12 col-md d-flex flex-column justify-content-center order-2 order-md-1">
                <div class="game-details-fields mb-3">
                    <div class="row">
                        {% if game.college_name %}
                            <div class="col-6 my-1 lead text-end"><strong>College:</strong></div>
                            <div class="col-6 my-1 lead">{{ game.college_name }}</div>
                        {% endif %}
                        <div class="col-6 my-1 lead text-end"><strong>Location:</strong></div>
                        <div class="col-6 my-1 lead">{{ game.location_display }}</div>
                        {% if game.host %}
                            <div class="col-6 my-1 lead text-end"><strong>Host:</strong></div>
                            <div class="col-6 my-1 lead">{{ game.host }}</div>
                        {% endif %}
                        {% if game.active and game.next_season_date.first %}
                            <div class="col-6 my-1 lead text-end"><strong>Next Season:</strong></div>
                            <div class="col-6 my-1 lead">{{ game.next_season_date.first }}</div>
                        {% endif %}
                        {% if game.game_duration %}
                            <div class="col-6 my-1 lead text-end"><strong>Game Duration:</strong></div>
                            <div class="col-6 my-1 lead">{{ game.get_game_duration_display }}</div>
                        {% endif %}
                        <div class="col-6 my-1 lead text-end"><strong>Format:</strong></div>
                        <div class="col-6 my-1 lead">{{ game.get_game_format_display }}</div>
                        {% if game.filming_status %}
                            <div class="col-6 my-1 lead text-end"><strong>Viewing Format:</strong></div>
                            <div class="col-6 my-1 lead">{{ game.get_filming_status_display }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <div class="d-flex flex-wrap align-items-center justify-content-evenly mb-4">
            {% if game.email %}
                <a href="mailto:{{ game.email }}" class="social-icon email" title="Email">
                    <i class="bi bi-envelope"></i>
                </a>
            {% endif %}
            {% if game.website %}
                <a href="{{ game.website }}" class="social-icon website" target="_blank" title="Website">
                    <i class="bi bi-globe"></i>
                </a>
            {% endif %}
            {% if game.instagram_handle %}
                <a href="https://www.instagram.com/{{ game.instagram_handle }}" class="social-icon instagram" target="_blank" title="Instagram">
                    <i class="bi bi-instagram"></i>
                </a>
            {% endif %}
            {% if game.facebook_link %}
                <a href="https://www.facebook.com/{{ game.facebook_link }}" class="social-icon facebook" target="_blank" title="Facebook">
                    <i class="bi bi-facebook"></i>
                </a>
            {% endif %}
            {% if game.youtube_link %}
                <a href="https://www.youtube.com/{{ game.youtube_link }}" class="social-icon youtube" target="_blank" title="YouTube">
                    <i class="bi bi-youtube"></i>
                </a>
            {% endif %}
            {% if game.lrg_wiki_page %}
                <a href="https://live-reality-games.fandom.com/wiki/{{ game.lrg_wiki_page }}" class="social-icon wiki" target="_blank" title="LRG Wiki">
                    <i class="bi bi-wikipedia"></i>
                </a>
            {% endif %}
            {% if game.discord_link %}
                <a href="https://discord.gg/{{ game.discord_link }}" class="social-icon discord" target="_blank" title="Discord">
                    <i class="bi bi-discord"></i>
                </a>
            {% endif %}
            {% if game.tiktok_handle %}
                <a href="https://www.tiktok.com/@{{ game.tiktok_handle }}" class="social-icon tiktok" target="_blank" title="TikTok">
                    <i class="bi bi-tiktok"></i>
                </a>
            {% endif %}
        </div>

        <div class="mb-4">
            <p class="lead">{{ game.description|linebreaksbr|urlize }}</p>
        </div>

        {% if game.casting_link %}
            <div class="text-center">
                <a href="{{ game.casting_link }}" class="btn btn-primary btn-hover-scale" target="_blank">
                    Apply Now
                </a>
            </div>
        {% endif %}
    </div>

    {% if game.seasons.exists %}
        <div class="text-center">
            <h2 class="h4 mb-4">Past Seasons</h2>
            <div class="container d-flex flex-wrap gap-2 justify-content-center">
                {% for season in game.seasons.all %}
                    {% if season.link %}
                        <a href="{{ season.link }}" class="btn btn-success btn-hover-scale" target="_blank">
                            {{ season }}
                        </a>
                    {% else %}
                        <button type="button" class="btn btn-success" disabled>
                            {{ season }}
                        </button>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if game.images.exists %}
        <div id="gameGalleryCarousel" class="carousel slide mt-5" data-bs-ride="carousel" data-bs-interval="3000">
            <h2 class="h4 mb-4 text-center">Gallery</h2>
            <div class="carousel-inner align-items-center">
                {% for image in game.images.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ image.image.url }}" alt="{{ image.alt_text }}" class="d-block w-100" style="max-height: 500px; object-fit: cover;" loading="lazy">
                    </div>
                {% endfor %}
                <button class="carousel-control-prev" type="button" data-bs-target="#gameGalleryCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#gameGalleryCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    {% endif %}
{% endblock %}
