name: Django CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check_migrations:
    runs-on: ubuntu-latest
    env:
      DJANGO_SETTINGS_MODULE: lrgnetwork.settings
      PYTHONUNBUFFERED: 1
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Check migrations
        run: python manage.py makemigrations --check --dry-run

  check_formatting:
    runs-on: ubuntu-latest
    env:
      DJANGO_SETTINGS_MODULE: lrgnetwork.settings
      PYTHONUNBUFFERED: 1
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install black
      - name: Check code formatting
        run: black --check .

  run_tests:
    runs-on: ubuntu-latest
    env:
      DJANGO_SETTINGS_MODULE: lrgnetwork.settings
      PYTHONUNBUFFERED: 1
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install coverage
      - name: Run tests with coverage
        run: |
          coverage run manage.py test
          coverage report
